*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: rgb(34, 32, 32);
}
nav{
    display: flex;
    justify-content: space-between;
   padding: 20px;
    background-color: rgb(49, 44, 44);
}
.navName{
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 30px;
    font-family: fantasy;
    margin-left: 10px;
}
a{
    text-decoration: none;
    margin-right: 8px;
    font-size: 18px;
}
.cont1{
    /* display: flex;
    justify-content: space-between;
    padding: 5%; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    gap: 10px;
    text-align: center;
    height: 70vh;
    align-items: center;
}
img{
    width:25rem;
}
.cnt{
    background-color: rgb(49, 44, 44);
    padding: 5px;
    margin-top: 4px;
    border: none;
    border-radius: 10%;
}
.cont2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
    margin: 10px;
}
.boxx{
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    background-color: rgb(49, 44, 44);
    border-radius: 7%;
}
.cont3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    gap: 10px;
    text-align: center;
    height: 70vh;
    align-items: center;
}
label,input{
    display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5px;
}
form{
    margin-left: 5%;
}
input{
    height: 30px;
    width: 70%;
    color: black;
    border-radius: 5%;
}
option{
    color: black;
}
.cont7{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
    gap: 10px;
    text-align: center;
    height: 75vh;
    align-items: center;
    
}
#contact{
    background-color: rgb(49, 44, 44);
    padding: 8px;
    margin-top: 4px;
    border: none;
    border-radius: 10%;
    width: 120px;
    margin-right: -10px;
    font-size: 15px;
}
h2{
    text-align: center;
    margin-top: 5px;
    font-size: 30px;
    font-family: fantasy;
}
.carousel-container {
    position: relative;
  }
  .card-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Hides scrollbar in Firefox */
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
    margin: 0 8%;
    margin-top: 15px;
  }
  .card  {
    flex: 0 0 auto;
    width: 18rem;
    scroll-snap-align: start;
    margin-right: 1rem;
    transition: transform 0.3s ease;
    margin-bottom: 40px;
    text-align: center;
    background-color: rgb(49, 44, 44);
    padding: 10px;
    border-radius: 5%;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .card-body{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }
  .card-cont{
    padding-top: 5%;
  }
  .card1  {
    flex: 0 0 auto;
    width: 18rem;
    scroll-snap-align: start;
    margin-right: 1rem;
    transition: transform 0.3s ease;
    margin-bottom: 40px;
    text-align: center;
    background-color: rgb(49, 44, 44);
    padding: 10px;
    border-radius: 5%;
  }
  .card1:hover {
    transform: scale(1.1);
  }
  .card1 img {
    width: 95%;
    height: auto;
  }
  .card2  {
    flex: 0 0 auto;
    width: 18rem;
    height: 20rem;
    scroll-snap-align: start;
    margin-right: 1rem;
    transition: transform 0.3s ease;
    margin-bottom: 40px;
    text-align: center;
    background-color: rgb(49, 44, 44);
    padding: 10px;
    border-radius: 5%;
  }
  .card2:hover {
    transform: scale(1.1);
  }
  .card2 img {
    width: 95%;
    height: auto;
    padding-top: 20px;
  }
  .dots-container1 {
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin: 10px 0; /* Adjust as needed */
  }
  .dots-container2{
    
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin: 10px 0; /* Adjust as needed */
  }
  .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  .dot.active {
    background-color: #333;
  }
  .dots-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin: 10px 0; /* Adjust as needed */
  }
.card p{
    margin: 10px 0;
}